:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --gray-blue: hsl(246, 25%, 77%);
}

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background: var(--red) url(/images/bg-intro-desktop.png);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10% 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr;
    row-gap: 30px;
    column-gap: 10%;
}

.text {
    grid-row: 1/3;
    color: white;
    align-self: center;
    
}

.text h1 {
    font-size: 4rem;
}

.text p {
    margin-top: 5%;
    font-size: 1.2rem;
    font-weight: 400;
}

.price p {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    background: var(--blue);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 0px rgba(0,0, 0, 0.2);
    transition: 0.5s;
}

.price p:hover {

    box-shadow: -10px 10px 0px rgba(0,0, 0, 0.2);
    padding: 22px 0;
}

.box {
    background: #fff;
    border-radius: 10px;
    padding: 7%;
    box-shadow: 0px 10px 0px rgba(0,0, 0, 0.2);
}

.box input {
    outline: none;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: 800;
    color: var(--dark-blue);

}

.div-input {
    position: relative;
}

.div-input img{
    visibility: hidden;
    position: absolute;
    right: 3%;
    top: calc(50% - 12px);
}

.div-input small {
    color: var(--red);
    text-align: right;
    display: block;
    font-weight: 600;
    font-size: 0.7rem;
    font-style: italic;
    margin-bottom: 10px;
}

/* Com classe error */
.div-input.error img {
    visibility: visible;
}

.div-input.error input{
    border: 2px var(--red) solid;
    color: var(--red);
}

.div-input.error input::placeholder {
    color: var(--red);
}

.box input::placeholder {
    font-weight: 800;
}

.box input[type="submit"] {
    border: none;
    text-transform: uppercase;
    color: white;
    background-color: var(--green);
    font-weight: 700;
    letter-spacing: 2px;
    box-shadow: 0px 3px 0px #3eb37f;
    cursor: pointer;
}

.box p {
    color: var(--gray-blue);
    font-size: 0.7rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.box p a {
    color: var(--red);
    font-weight: 800;
}